@import "tailwindcss";

:root {
  --main: 255, 255, 255;
  --accent: 0, 0, 0;
  --green: 54, 179, 126;
  --yellow: 255, 171, 0;
  --red: 255, 86, 48;
  --border: 193, 199, 208;
  --dark-gray: 165, 173, 186;
}

@theme {
  --container-2x: "1400px";
  --color-main: rgba(var(--main));
  --color-accent: rgba(var(--accent));
  --color-green: rgba(var(--green));
  --color-yellow: rgba(var(--yellow));
  --color-red: rgba(var(--red));
  --color-border: rgba(var(--border));
  --color-dark-gray: rgba(var(--dark-gray));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .filters,
  .chartFilters {
    @apply p-1 bg-border w-fit rounded-lg flex gap-2 mt-2;
  }

  .filters input,
  .chartFilters input {
    @apply hidden;
  }

  .filters label,
  .chartFilters label {
    @apply py-1 px-2 rounded-md text-sm text-accent/60 font-bold cursor-pointer;
  }

  .filters input:checked + label,
  .chartFilters input:checked + label {
    @apply bg-white py-1 px-2 rounded-md text-black;
  }

  .add_new input,
  .add_new select,
  .add_new textarea {
    @apply border border-gray-200 rounded-sm p-2 outline-0 w-full;
  }
}
